
.mat-row:nth-child(even){
    background-color: rgba(221,221,221,255)
    ;
}
.mat-row{
    height: 5px;
    padding: 0px;
}

#listHeading{
    font-size: 30px;
    margin-left: 17%;
    padding-top: 0%;
    padding-bottom: 15px;
}
#logout{
    margin-top: 3%;
    margin-left: 89%;
    cursor: pointer;
}
#logo{
    margin-top: 14%;
    margin-left: -3%;
    cursor: pointer;
}
#sideNav{
    border-width: 10px;
    border-color: rgba(244,244,244,255);
}
.mat-sidenav-content{
    height: 100vh;
 }
 .mat-sidenav{
     width: 12%;
 }
.mat-button{
    top: 5%;
    width: 100%;
    height: 7%;
    margin-top: 1%;
   
}
.mat-button:hover{
    background: rgba(193,229,244,255);
}

#activeButton{
    background: rgba(193,229,244,255);
}
#activeButton:hover{
    color: white;
}
