<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#FFFF" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<mat-sidenav-container class="example-container">

    <mat-sidenav mode="side" opened id="sideNav">
              <app-side-menu></app-side-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header></app-header>
            
             <p id="listHeading">Employee List</p>

        <div class="mat-elevation-z0 " id="matBox">
    
         <mat-table  [dataSource]="dataSource" >
    
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let dataSource"> {{dataSource.firstName}} {{dataSource.lastName}}</mat-cell>
        </ng-container>
      
      
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let dataSource"> {{dataSource.email}}  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let dataSource"> {{dataSource.status}}  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let dataSource"> <mat-icon>visibility</mat-icon></mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
         <mat-paginator [pageSizeOptions]="[10,15,25]" showFirstLastButtons></mat-paginator>
        
         
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  

  <router-outlet></router-outlet>
