<div>
    <img id="logo" src="../../../assets/images/logo.png"> <br>
    {{name}}
   <br>
   {{email}}

    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons"  id="buttonText" >
      <label class="btn "  id="button1" [routerLink]="['/home']" routerLinkActive="active" >
        <input type="radio" name="options" checked> Company List
      </label>
      <label class="btn " id="button2" [routerLink]="['/faq']" routerLinkActive="active">
        <input type="radio" name="options"  > Employee List
      </label>
      <label class="btn "  id="button3" [routerLink]="['/reimbursement']" routerLinkActive="active">
        <input type="radio" name="options"  > Reimbursement
      </label>
    </div>



</div>

