.container{
    background-color: rgba(193,229,244,255);
    height: 100vh;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

#logo{
    margin-left: 25%;
    margin-top: 25%;
    width: 250px;
}
#letsStart{
    color: rgba(207,142,143,255);
    font-size: 30px;
    font-weight: 200;
    margin-top: 0%;
    left: 12%;
    position: absolute;
}



.mat-raised-button{
    background: rgba(68,96,239,255);
    margin-top: 13%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field{
    color: rgb(106, 106, 106);
    font-weight: 500;
    top: 28px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#bgimg{
    height: 107%;
    width: 105%;
}
.mat-card{
    top: 10%;
    height: 56%;
    background-color: rgba(255, 255, 255, 0.6);
}
.mat-raised-button:hover{
    background-color: rgb(255, 255, 255);
    color: blue;
    transition: ease 0.5s;
}



@media (max-width: 980px){

    
    #letsStart{
        top: 11%;
        left: 25%;
        display: none;
    }
    #bgimg{
        margin-top: -7%;
        z-index: 1;
    }
    .mat-card{
        height: 70%;
        top: 1%;
        z-index: 2;
    }

}