<div class="container" fxLayoutAlign=" center" fxFlexFill>
 
    <div class="row  col-12">
        <div class="col-lg-1 col-sm-1 "></div>
        <div  class="col-lg-4 col-sm-4">
            <img src="../../../assets/images/logo.png" id="logo">
            <mat-card id="matcardid">
                <form fxLayoutAlign="stretch" fxLayout="column" class="example-form">
                   
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Name" >
                    </mat-form-field>   
                  
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Password" type="password" >
                      </mat-form-field>
        
                    <button fxFlex="5" mat-raised-button color="primary" type="submit" routerLink="home">Sign In</button>
                    
                  </form>
            </mat-card>
        </div>
            <div class="row col-lg-7 col-sm-7" >
                <p id="letsStart">Let's start with login</p>
                <img id="bgimg" src="../../../assets/images/icon.png" >
            </div>
    </div>


</div>
<router-outlet></router-outlet>


