<div class="container col-12" >
   <!--  <p>
        Get Cookie: {{cookieValue}}
      </p> -->

    <div class="row col-12">
        <p id="letsStart">Let's start with login</p>
    </div>
    <div class="row col-12">
        <img src="../../../assets/images/logo.png" id="logo">
    </div>
    <div class="row col-12">
        <mat-card id="matcardid">
            <form [formGroup]="formGroup" (ngSubmit)= "onSubmit(formGroup.value)" fxLayoutAlign="stretch" fxLayout="column" class="example-form">
               
                <mat-form-field class="example-full-width"  > Name  
                     <input matInput type="text" formControlName="username" required style="margin-top: 20px; padding-bottom: 3px; display: block; border-bottom: 2px solid rgb(0, 0, 0);" >
                    <mat-error *ngIf="formGroup.controls['username'].invalid">{{getError('user')}}</mat-error>
                </mat-form-field>   
              
                <mat-form-field class="example-full-width"  >Password
                     <input matInput type="password" formControlName="password" required  style="margin-top: 20px; padding-bottom: 3px; display: block; border-bottom: 2px solid rgb(0, 0, 0);" > 
                     <mat-error *ngIf="!formGroup.controls['password'].valid">{{getError('pass')}}</mat-error>
                  </mat-form-field>
    
                <button fxFlex="5" mat-raised-button color="primary" type="button" (click)="onClick()" routerLink="home" [disabled]="!formGroup.valid" >Sign In
                   
                </button>
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#FFFF" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
                
              </form>
        </mat-card>
    </div>

</div>

<img id="bgImg" src="../../../assets/images/icon.png">



<router-outlet></router-outlet>


